
:root{
  --secondary-color:#686868;

}
@font-face {
  font-family: "IvyMode";
  src: url("/assets/fonts/IvyMode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IvyMode";
  src: url("/assets/fonts/IvyMode-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IvyMode";
  src: url("/assets/fonts/IvyMode-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "IvyMode";
  src: url("/assets/fonts/IvyMode-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
body {font-family: "IvyMode", Arial, sans-serif;letter-spacing: 1px;}
.fw-300{font-weight: 300;}
.py_section{padding:100px 0;}
.know_more_btn{text-decoration: none;color: #000;display: flex;align-items: center;gap: 15px;}
.know_more_btn svg{width: 80px;}
header{position: absolute;top: 0;left: 0;width: 100%;z-index: 1;padding: 20px 50px;}
header img{max-width: 80px;}
header .ham_menu{width: 30px;margin-right: 30px;}
.heading {text-align: center;font-size: 34px;margin-bottom: 24px;}
.block {display: block;}
.paragraph {line-height: 27px;text-align: center;font-size: 16px;letter-spacing: 2px;}

/* .banner_sec{height: 100vh;} */
.banner_sec{height: 100vh;color:#fff}
.banner_sec .bg_banner{object-fit: cover;}
.banner_sec .absolute_container{position: absolute;bottom: 0;left: 0;width: 100%;}
.banner_sec .banner_item_main .typology,.banner_sec .banner_item_main .price{position: absolute;bottom: 0;text-align: center;}
.banner_sec .banner_item_main .typology{left: 300px;}
.banner_sec .banner_item_main .price{right: 240px;}
.banner_sec .elevation_img{z-index: 1;position: relative;}

.two_column_sec  .absolute_sec .image_container{position: relative;}
.two_column_sec p{line-height: 1.8;}
.two_column_sec  .heading_cont{text-align: justify;right: 0;position: absolute;width: 50%;top:0;height: 100%;right: 10%;}
.two_column_sec  .absolute_sec .absolute_img{position: absolute;left: 0;top: 100px;}
.two_column_sec   .logo_blob{    position: absolute;bottom: 20px;right: -100px;width: 180px;}
.two_column_sec   .content_container{padding-right:120px;line-height: 1.5;}
.two_column_sec .second_sec{margin-top: -80px;}



.cta_sec_1{background: url("/assets/images/cta_one_banner.jpg") no-repeat;}
.cta_sec_2 {background: url("/assets/images/cta_two_banner.jpg") no-repeat;}
.cta_sec {color:#fff}
.cta_sec h2{line-height: 1.5;letter-spacing: 3px;}
.cta_sec .table_container .flex_cont{display: flex;align-items: center;padding: 0;}
.cta_sec .table_container .flex_cont:not(:first-child){margin-bottom: 50px;}
.cta_sec .table_container .flex_cont.table_header::after{content: '';position: absolute;width: 88%;height: 1px;background-color:  var(--secondary-color);bottom: 0;left: 50%;transform: translateX(-50%);}
.cta_sec .table_container .flex_cont.table_header{margin-bottom: 30px;position: relative;}
.cta_sec .table_container .flex_cont li{list-style: none;flex:0 0 calc(25%);text-align: center;}
.cta_sec .table_container .pricing{font-size: 24px;}
.cta_sec .table_container .typology{font-size: 18px;}
.cta_sec .table_container .area{font-size: 16px;}
.cta_sec .table_container .book-btn{border: none;border-radius: 6px;padding: 8px 30px;}

.spirit_sec .overlay_font{font-weight: 700;font-size: 70px;color: #C9C9C91A;}

.cta_sec_2 .small_txt{font-size: 20px;}
/* beyond-comfort */
.beyond-comfort {
  background: url("../images/beyond-comfort/beyond_comfort_bg.png");
}

/* swiper */
.swiper-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  border-radius: 20px;
  padding: 80px 0;
}

.swiper-wrapper {
  display: flex;
  transition: transform 0.5s ease;
  width: 100%;
}

.slide {
  flex: 0 0 33.333%;
  position: relative;
  overflow: visible;
  aspect-ratio: 8/10;
  margin: 0 3px;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.slide-content {
  position: absolute;
  bottom: -60px;
  left: 0;
  right: 0;
  background: transparent;
  color: #333;
  padding: 20px 10px;
  text-align: center;
}

.slide-title {
  font-size: 15px;
  font-weight: 500 !important;
  letter-spacing: 1.4px;
  margin: 0;
  letter-spacing: 0.5px;
}

.nav-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background: var(--primary-color);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.nav-arrow.prev {
  left: -25px;
}

.nav-arrow.next {
  right: -25px;
}

.nav-arrow::before {
  content: "";
  width: 12px;
  height: 12px;
  border-right: 2px solid #fff;
  border-bottom: 2px solid #fff;
  transform: rotate(-45deg);
}

.nav-arrow.prev::before {
  transform: rotate(135deg);
}

